{% extends 'common/base.html' %}

{% load staticfiles %}

{% block title %}关于 | 全杰是也{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro">
    <link rel="stylesheet" href="{% static 'about/css/index.css' %}">
{% endblock %}

{% block main %}
    <article class="about">
        <div class="title">关于</div>
        <div class="subtitle">全杰是也</div>
        <img src="{% static 'about/img/back.jpg' %}" alt="全杰是也" class="back">
        <p>来自四川德阳，电子科技大学计算机科学与工程学院硕士研究生。</p>
        <h1>爱好</h1>
        <div class="horizontal-icon-link-bar">
            <a href="https://code.zackzhang.net"><span class="fas fa-code"></span></a>
            <a href="{% url 'music:index' %}"><span class="fas fa-music"></span></a>
            <a href="javascript:alert('Under construction...');"><span class="fas fa-camera"></span></a>
            <a href="javascript:alert('Under construction...');"><span class="fas fa-plane"></span></a>
        </div>
        <h1>Find Me</h1>
        <div class="horizontal-icon-link-bar">
            <a href=mailto:zxjue@outlook.com><span class="fas fa-envelope"></span></a>
            <a href="https://twitter.com/zacjact1568"><span class="fab fa-twitter"></span></a>
            <a href="https://www.instagram.com/zacjact1568/"><span class="fab fa-instagram"></span></a>
            <a href="https://t.me/zacjact1568"><span class="fab fa-telegram-plane"></span></a>
        </div>
        <h1>致谢</h1>
        <div class="thanks-link-bar">
            <a href="https://www.djangoproject.com"><img src="{% static 'about/img/django.svg' %}" class="django" alt="Django"></a>
            <a href="http://getbootstrap.com"><img src="{% static 'about/img/bootstrap.png' %}" class="bootstrap" alt="Bootstrap"></a>
            <a href="https://fontawesome.com"><img src="{% static 'about/img/font-awesome.png' %}" class="font-awesome" alt="Font Awesome"></a>
        </div>
        <div class="vultr">
            <a href="https://www.vultr.com/?ref=7260027"><img src="{% static 'about/img/vultr.svg' %}" alt="Vultr"></a>
        </div>
        <div class="witness"><a href="javascript:alert('Under construction...');">Will you be my witness?</a></div>
    </article>
{% endblock main %}
