{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{% block code %}{% endblock code %} | 全杰是也{% endblock title %}

{% block main %}
    <script src="{% static 'posts/js/script.js' %}"></script>
    <article class="status">
        <div class="status-title">{% block description %}{% endblock description %}</div>
        <div class="status-content">
            <div>全杰是也提醒您：</div>
            <div>{% block explanation %}{% endblock explanation %}</div>
            <div><span id="count">10</span> 秒后跳转到<a href="{% url 'posts:index' %}" class="underline" id="home">主页</a>。</div>
        </div>
    </article>
{% endblock main %}
