{% extends 'base.html' %}

{% block title %}{{ post.title }} | 全杰是也{% endblock title %}

{% block main %}
    <article class="post">
        <header>
            <div class="post-title">{{ post.title }}</div>
            <div class="post-time">
                <time datetime="{{ post.date|date:"Y-m-d" }}">{{ post.date|date:"Y-m-d" }}</time>
            </div>
        </header>
        <div class="post-content">
            {{ post.content|safe }}
        </div>
    </article>
    {% if enable_comments %}
    <hr>
    <section class="comment">
        {% if comment_list.count > 0 %}
        <div class="comment-list-title">评论列表</div>
        <ul class="comment-list list-unstyled">
            {% for comment in comment_list %}
            <li class="comment-item">
                <span class="comment-name">
                    {% if comment.website %}
                    <a href="{{ comment.website }}">
                    {% endif %}
                    {{ comment.name }}
                    {% if comment.website %}
                    </a>
                    {% endif %}
                </span>
                <time class="comment-time" datetime="{{ comment.time|date:"Y-m-d H:i" }}">{{ comment.time|date:"Y-m-d H:i" }}</time>
                <div class="comment-content">
                    {{ comment.content }}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="comment-form-title">发表评论</div>
        <form action="{% url 'comments:post_comment' post.pk %}" method="post" class="comment-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <label for="{{ form.name.id_for_label }}">名字：</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.website.id_for_label }}">网站（可选）：</label>
                    {{ form.website }}
                    {{ form.website.errors }}
                </div>
                <div class="col-md-12">
                    <label for="{{ form.content.id_for_label }}">评论：</label>
                    {{ form.content }}
                    {{ form.content.errors }}
                    <button type="submit" class="comment-submit-button">提交</button>
                </div>
            </div>
        </form>
    </section>
    {% endif %}
{% endblock main %}
