.about {
    padding: 30px 30px 0;
    font-size: 0.9rem;
    text-align: center;
}

.title {
    font-size: 1.6rem;
    font-weight: 500;
}

.subtitle {
    font-size: 0.8rem;
    font-weight: lighter;
}

.back {
    margin: 40px 0;
    width: 580px;
    border-radius: 12px;
    box-shadow: 0 2px 8px 0 #9B9B9B;
}

.about h1 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 32px;
}

.horizontal-icon-link-bar,
.thanks-link-bar {
    margin-top: 20px;
}

.horizontal-icon-link-bar a,
.witness a {
    background-color: #BBBBBB;
}

.horizontal-icon-link-bar a {
    position: relative;
    display: inline-block;
    margin: 0 4px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.horizontal-icon-link-bar a:hover,
.witness a:hover {
    background-color: #039BE5;
}

.horizontal-icon-link-bar span,
.witness a {
    color: white;
}

.horizontal-icon-link-bar span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
}

.thanks-link-bar div {
    margin-bottom: 12px;
}

.django {
    height: 20px;
}

.bootstrap {
    height: 24px;
}

.font-awesome {
    height: 22px;
}

.vultr {
    margin-top: 60px;
}

.vultr img {
    height: 52px;
    background-color: #1669BA;
    padding: 8px 6px;
    border-radius: 4px;
}

.witness {
    display: inline-block;
    margin-top: 60px;
}

.witness a {
    font-family:
            /* 思源宋体 (安装) */
            'Source Han Serif SC',
            /* 来自 Google Fonts */
            'Source Serif Pro',
            serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 14px;
    padding: 2px 8px;
}

@media (max-width: 1000px) {

    .back {
        width: 500px;
    }
}

@media (max-width: 780px) {

    .back {
        width: 420px;
    }
}

@media (max-width: 520px) {

    .back {
        width: 340px;
    }
}

@media (max-width: 431px) {

    .about {
        padding: 0 10px;
    }
}

@media (max-width: 400px) {

    .back {
        width: 260px;
    }
}