{% extends 'common/base.html' %}

{% load staticfiles %}

{% block title %}音乐 | 全杰是也{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro">
    <link rel="stylesheet" href="{% static 'music/css/index.css' %}">
{% endblock %}

{% block main %}
    <div class="song-of-this-year-box">
        <div class="song-of-this-year">2017 "Song of this Year"</div>
        <img src="{% static 'music/img/melodrama.jpg' %}" alt="Melodrama" class="album-cover">
        <div class="title-artist">"Perfect Places" by Lorde</div>
        <div class="album">From her 2nd album "Melodrama" (2017)</div>
        <div class="listen-link-bar">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-sm-2">
                        <a href="https://genius.com/Lorde-perfect-places-lyrics" class="genius">
                            <img src="{% static 'music/img/genius-logo.png' %}">
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a href="https://itunes.apple.com/cn/album/perfect-places/1210856718?i=1210858392" class="apple-music">
                            <img src="{% static 'music/img/apple-music-logo.svg' %}">
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a href="https://open.spotify.com/track/1qXjolYMICsnISl8xZAbA2?si=utWgAl8OSpCdpRfWSCGuhQ" class="spotify">
                            <img src="{% static 'music/img/spotify-logo.svg' %}">
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a href="https://youtu.be/J0DjcsK_-HY" class="youtube">
                            <img src="{% static 'music/img/youtube-logo.svg' %}">
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a href="http://music.163.com/mv/5615048/" class="netease-cloud-music">
                            <img src="{% static 'music/img/netease-cloud-music-logo.svg' %}">
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a href="http://url.cn/51lC5hV" class="qq-music">
                            <img src="{% static 'music/img/qq-music-logo.png' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="lyric-reference">
            <span class="fas fa-quote-left"></span>
            <span class="lyric">What the fuck are perfect places anyway?</span>
            <span class="fas fa-quote-right"></span>
        </div>
        <div class="rest-link-bar">
            <a href="{% url 'posts:detail' 'music-listen-annual-summary-2017' %}" class="underline rest-link">Check the rest of my favorite music in 2017</a>
        </div>
        <div class="sub-website-link-bar">
            <div class="container">
                <div class="row justify-content-center no-gutters">
                    <div class="col-sm-4">
                        <a href="{% url 'music:listen_memo' %}">
                            <span>听歌记录</span>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url 'music:annual_summary' %}">
                            <span>年度总结</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
