{% extends 'common/base.html' %}

{% load staticfiles %}

{% block title %}音乐 | 全杰是也{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro">
<link rel="stylesheet" href="{% static 'music/css/index.css' %}">
{% endblock %}

{% block main %}
<div class="song-of-this-year-box">
    <div class="song-of-this-year">Under Construction...</div>
    <div class="rest-link">
        <a href="{% url 'posts:detail' 'music-listen-annual-summary-2018' %}">Check the rest of my favorite music in 2018</a>
    </div>
    <div class="sub-website-link-bar">
        <div class="container">
            <div class="row justify-content-center no-gutters">
                <div class="col-sm-4">
                    <a href="{% url 'music:listen_memo' %}">
                        <span>听歌记录</span>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="{% url 'music:annual_summary' %}">
                        <span>年度总结</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
