.post {
    padding: 30px 30px 0;
}

.post header {
    text-align: center;
}

.post-title {
    font-size: 26px;
    font-weight: 500;
}

.post-time {
    color: #999;
    font-size: 13px;
}

.post-content {
    margin-top: 40px;
    color: #555;
    font-size: 14px;
    line-height: 2;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin: 20px 0 10px;
    font-weight: bold;
}

.post-content h1 {
    font-size: 1.5rem;
}

.post-content h2 {
    font-size: 1.4rem;
}

.post-content h3 {
    font-size: 1.3rem;
}

.post-content h4 {
    font-size: 1.2rem;
}

.post-content h5 {
    font-size: 1.1rem;
}

.post-content h6 {
    font-size: 1rem;
}

.post-content p {
    margin-bottom: 25px;
    font-weight: 400;
    word-spacing: 1px;
    letter-spacing: 0.01em;
}

.post-content blockquote {
  font-size: 14px;
}

.post-content table {
    border-spacing: 1px;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.post-content table > thead > tr > th,
.post-content table > tbody > tr > th,
.post-content table > tfoot > tr > th,
.post-content table > thead > tr > td,
.post-content table > tbody > tr > td,
.post-content table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.5;
    vertical-align: top;
    border: 1px solid #ddd;
}

.post-content table > thead > tr > th,
.post-content table > thead > tr > td {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    text-align: center;
}

.post-content code {
    color: #333;
    padding: 2px 4px;
}

.post-content pre {
    padding: 9px;
    margin-bottom: 0.6rem;
    line-height: 1.5;
}

.post-content code,
.post-content pre {
    background-color: #F5F5F5;
    border-radius: 3px;
}

.post-content code,
.post-content pre span {
    font-family:
            /* 西文 */

            /* 来自 Google Fonts */
            'Roboto Mono',
            /* macOS 预装 */
            'Menlo',
            /* Windows 预装 */
            'Consolas',

            /* 中文 */

            /* 苹方 (OSX >= 10.11 || iOS >= 9) */
            'PingFang SC',
            /* 冬青黑体 (OSX >= 10.6) */
            'Hiragino Sans GB',
            /* 华文黑体 (OSX < 10.6 || iOS < 9) */
            'STHeiti',
            /* 微软雅黑 (Windows >= Vista) */
            'Microsoft YaHei',
            /* 黑体 (Windows < Vista) */
            'SimHei',
            /* 文泉驿微米黑 (Linux) */
            'WenQuanYi Micro Hei',

            monospace;
}

.post-content img {
    max-width: 100%;
    margin: 1.2rem auto;
    display: block;
    padding: 3px;
    border: 1px solid #ddd;
}

.post-content a {
    color: #555;
    border-bottom: 1px solid #999;
}

.post-content a:hover {
    color: #222;
    text-decoration: none;
    border-bottom-color: #222;
}

/* Code Highlight */

.codehilite .hll {
    background-color: #ffffcc
}

/* Comment */
.codehilite .c,
/* Comment.Multiline */
.codehilite .cm,
/* Comment.Single */
.codehilite .c1,
/* Comment.Special */
.codehilite .cs {
    color: #8e908c;
}

/* Comment.Preproc */
.codehilite .cp,
.codehilite .cpf,
/* Keyword */
.codehilite .k,
/* Keyword.Type */
.codehilite .kt {
    color: #8959a8;
}

/* Error */
.codehilite .err {
    color: #a61717;
    background-color: #e3d2d2
}

.codehilite .n,
/* Operator */
.codehilite .o {
    color: #4d4d4c;
}

/* Generic.Deleted */
.codehilite .gd {
    color: #000000;
    background-color: #ffdddd
}

/* Generic.Emph */
.codehilite .ge,
/* Keyword.Constant */
.codehilite .kc,
/* Keyword.Declaration */
.codehilite .kd,
/* Keyword.Namespace */
.codehilite .kn,
/* Keyword.Pseudo */
.codehilite .kp,
/* Keyword.Reserved */
.codehilite .kr,
/* Operator.Word */
.codehilite .ow {
    color: #000000;
}

/* Name.Attribute */
.codehilite .na,
/* Name.Variable */
.codehilite .nv,
/* Name.Variable.Class */
.codehilite .vc,
/* Name.Variable.Global */
.codehilite .vg,
/* Name.Variable.Instance */
.codehilite .vi {
    color: #008080
}

/* Generic.Error */
.codehilite .gr,
/* Generic.Traceback */
.codehilite .gt {
    color: #aa0000
}

/* Generic.Heading */
.codehilite .gh,
/* Name.Builtin.Pseudo */
.codehilite .bp {
    color: #999999
}

/* Generic.Output */
.codehilite .go {
    color: #888888
}

/* Generic.Inserted */
.codehilite .gi {
    color: #000000;
    background-color: #ddffdd
}

/* Generic.Prompt */
.codehilite .gp,
/* Name.Namespace */
.codehilite .nn {
    color: #555555
}

/* Generic.Strong */
.codehilite .gs {
    font-weight: bold
}

/* Generic.Subheading */
.codehilite .gu {
    color: #aaaaaa
}

/* Name.Class */
.codehilite .nc {
    color: #445588;
}

/* Name.Constant */
.codehilite .no {
    color: #008080
}

/* Name.Decorator */
.codehilite .nd {
    color: #3c5d5d;
}

/* Name.Entity */
.codehilite .ni {
    color: #800080
}

/* Name.Builtin */
.codehilite .nb,
/* Name.Exception */
.codehilite .ne,
/* Name.Function */
.codehilite .nf,
/* Name.Label */
.codehilite .nl {
    color: #f5871f;
}

/* Name.Tag */
.codehilite .nt {
    color: #000080
}

/* Text.Whitespace */
.codehilite .w {
    color: #bbbbbb
}

/* Literal.Number */
.codehilite .m,
/* Literal.Number.Float */
.codehilite .mf,
/* Literal.Number.Hex */
.codehilite .mh,
/* Literal.Number.Integer */
.codehilite .mi,
/* Literal.Number.Oct */
.codehilite .mo,
/* Literal.Number.Integer.Long */
.codehilite .il,
/* Literal.String */
.codehilite .s,
/* Literal.String.Single */
.codehilite .s1,
/* Literal.String.Backtick */
.codehilite .sb,
/* Literal.String.Char */
.codehilite .sc,
/* Literal.String.Doc */
.codehilite .sd,
/* Literal.String.Double */
.codehilite .s2,
/* Literal.String.Escape */
.codehilite .se,
/* Literal.String.Heredoc */
.codehilite .sh,
/* Literal.String.Interpol */
.codehilite .si,
/* Literal.String.Other */
.codehilite .sx {
    color: #3e999f
}

/* Literal.String.Regex */
.codehilite .sr {
    color: #009926
}

/* Literal.String.Symbol */
.codehilite .ss {
    color: #990073
}

@media (max-width: 431px) {

    .post {
        padding: 10px 10px 0;
    }
}