{% extends 'common/base.html' %}

{% load staticfiles %}

{% block title %}{{ post.title }} | 全杰是也{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
<link rel="stylesheet" href="{% static 'blog/css/post.css' %}">
{% endblock %}

{% block main %}
<article class="post">
    <header>
        <div class="post-title">{{ post.title }}</div>
        <div class="post-time">
            <time datetime="{{ post.created_at|date:"Y-m-d" }}">{{ post.created_at|date:"Y-m-d" }}</time>
        </div>
    </header>
    <div class="post-content">
        {{ post.content|safe }}
    </div>
</article>
{#{% include 'comments/index.html' %}#}
{% endblock %}
