/* am = annual music */

.am-title .year {
    margin-right: 6px;
    vertical-align: -53%;
    font-family: 'Biryani', 'Helvetica Neue', 'Arial', 'Roboto', sans-serif;
    font-size: 44px;
}

.am-title .zh {
    font-family: 'Source Han Serif SC', 'Noto Serif SC', serif;
    font-size: 20px;
    font-weight: 900;
}

.am-title .en,
.am-content-secondary-link .explanation {
    font-family: 'Lora', serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.am-content,
.am-content-secondary-link {
    border-radius: 12px;
    background-color: rgba(216, 216, 216, 0.3);
}

.am-content .title {
    font-family: 'Roboto Slab', 'FZCuHeiSong-B-JF', serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.am-content .artist {
    font-family: 'Lora', 'Source Han Serif SC', 'Noto Serif SC', serif;
    font-weight: bold;
    color: #4A4A4A;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.am-content-primary {
    padding: 32px;
}

.am-content-primary .cover {
    margin-right: 24px;
    width: 160px;
    border-radius: 8px;
}

.am-content-primary .title {
    font-size: 32px;
}

.am-content-primary .artist {
    font-size: 18px;
}

.am-content-primary .lyric {
    margin-top: 12px;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 14px;
    color: #4A4A4A;
}

.am-content-primary .lyric::before {
    content: "“";
}

.am-content-primary .lyric::after {
    content: "”";
}

.am-link {
    position: relative;
    display: inline-block;
    width: 72px;
    height: 26px;
    border-radius: 13px;
}

.am-content-primary .am-link {
    margin-top: 16px;
    margin-right: 8px;
}

.am-link-apple-music {
    background-color: #EB3256;
}

.am-link-spotify {
    background-color: #1DB954;
}

.am-link-youtube {
    background-color: #FF0000;
}

.am-link:hover {
    filter: saturate(115%);
}

.am-link > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
}

.am-content-secondary-grid {
    padding: 0;
}

.am-content-secondary-grid .grid-row {
    margin: -8px;
}

.am-content-secondary-grid .grid-column {
    padding: 8px;
}

.am-content-secondary {
    padding: 16px;
}

.am-content-secondary .cover {
    margin-right: 12px;
    width: 80px;
    border-radius: 6px;
}

.am-content-secondary .track {
    font-family: 'Roboto Condensed', 'Helvetica Neue', 'Arial', 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.am-content-secondary .title {
    font-size: 20px;
}

.am-content-secondary .artist {
    font-size: 14px;
}

.am-content-secondary-link {
    margin-top: 16px;
    padding: 14px;
    text-align: center;
}

.am-content-secondary-link .am-link {
    margin: 10px 4px;
}

.am-content-secondary-link .summary-link {
    font-size: 12px;
}

.am-content-secondary-link .summary-link > a {
    color: #555;
    border-bottom: 1px solid #999;
}

.am-content-secondary-link .summary-link > a:hover {
    color: #222;
    text-decoration: none;
    border-bottom-color: #222;
}

.sub-website-link-bar {
    margin-top: 40px;
    text-align: center;
}

.sub-website-link-bar a {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 40px;
    background-color: #4A90E2;
    border-radius: 20px;
}

.sub-website-link-bar a:hover {
    background-color: #2268BA;
}

.sub-website-link-bar span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

@media (max-width: 1199px) {

    .am-content-secondary .cover {
        width: 66px;
    }

    .am-content-secondary .title {
        font-size: 16px;
    }

    .am-content-secondary .artist {
        font-size: 12px;
    }
}

@media (max-width: 991px) {

    .am-content-primary .cover {
        width: 148px;
    }

    .am-content-primary .title {
        font-size: 26px;
    }

    .am-content-primary .artist {
        font-size: 16px;
    }

    .am-content-primary .lyric {
        margin-top: 8px;
        font-size: 13px;
    }

    .am-content-primary .am-link {
        margin-top: 14px;
    }

    .am-content-secondary .cover {
        width: 60px;
    }

    .am-content-secondary .track {
        font-size: 13px;
    }

    .am-content-secondary .title {
        font-size: 14px;
    }

    .sub-website-link-bar a {
        width: 168px;
    }
}

@media (max-width: 767px) {

    .am-content-primary {
        padding: 26px;
    }

    .am-content-primary .cover {
        margin-right: 20px;
        width: 128px;
    }

    .am-content-primary .title {
        font-size: 25px;
    }

    .am-content-primary .artist {
        font-size: 15px;
    }

    .am-content-primary .lyric {
        font-size: 12px;
    }

    .am-link {
        width: 62px;
        height: 22px;
        border-radius: 11px;
    }

    .am-content-primary .am-link {
        margin-top: 12px;
        margin-right: 6px;
    }

    .am-link > img {
        width: 36px;
    }

    .am-content-secondary {
        padding: 18px;
    }

    .am-content-secondary .cover {
        margin-right: 14px;
        width: 78px;
    }

    .am-content-secondary .track {
        font-size: 16px;
    }

    .am-content-secondary .title {
        font-size: 18px;
    }

    .am-content-secondary .artist {
        font-size: 14px;
    }

    .sub-website-link-bar a {
        width: 148px;
    }

    .sub-website-link-bar span {
        font-size: 13px;
    }
}

@media (max-width: 575px) {

    .am-content-primary,
    .am-content-secondary {
        padding: 32px;
    }

    .am-content-primary,
    .am-content-secondary-grid {
        text-align: center;
    }

    .am-content-primary .cover,
    .am-content-secondary .cover {
        margin-right: 0;
    }

    .am-content-primary .cover {
        width: 200px;
    }

    .am-content-primary .title {
        margin-top: 12px;
        font-size: 32px;
    }

    .am-content-primary .artist {
        font-size: 18px;
    }

    .am-content-primary .lyric {
        font-size: 14px;
    }

    .am-link {
        width: 72px;
        height: 26px;
        border-radius: 13px;
    }

    .am-content-primary .am-link {
        margin: 24px 4px 0;
    }

    .am-link > img {
        width: 40px;
    }

    .am-content-secondary .cover {
        width: 160px;
    }

    .am-content-secondary .track {
        margin-top: 8px;
    }

    .am-content-secondary .title {
        font-size: 24px;
    }

    .am-content-secondary .artist {
        font-size: 16px;
    }
}

@media (max-width: 400px) {

    .am-content-primary,
    .am-content-secondary {
        padding: 24px;
    }

    .am-content-primary .cover {
        width: 160px;
    }

    .am-content-primary .title {
        margin-top: 10px;
        font-size: 24px;
    }

    .am-content-primary .artist {
        font-size: 16px;
    }

    .am-content-primary .lyric {
        font-size: 12px;
    }

    .am-link {
        width: 62px;
        height: 22px;
        border-radius: 11px;
    }

    .am-content-primary .am-link {
        margin: 20px 2px 0;
    }

    .am-link > img {
        width: 36px;
    }

    .am-content-secondary .cover {
        width: 120px;
    }

    .am-content-secondary .track {
        margin-top: 6px;
    }

    .am-content-secondary .title {
        font-size: 18px;
    }

    .am-content-secondary .artist {
        font-size: 14px;
    }
}
