.content-box {
    text-align: center;
}

.annual-music-title {
    height: 32px;
}

.annual-music-item-box {
    text-align: center;
    margin-top: 24px;
    border-radius: 12px;
    padding: 28px 32px;
    background-color: rgba(216, 216, 216, 0.3);
}

.annual-music-name-artist {
    margin: 0 auto;
    height: 52px;
    display: block;
}

.annual-music-album-cover {
    margin: 24px auto 0 auto;
    width: 160px;
    display: block;
}

.annual-music-lyric {
    margin: 24px auto 0 auto;
    height: 52px;
    display: block;
}

.annual-music-link {
    margin-top: 24px;
    position: relative;
    display: inline-block;
    width: 88px;
    height: 30px;
    border-radius: 20px;
    background-color: #C20C0C;
}

.annual-music-link:hover {
    filter: saturate(115%);
}

.annual-music-link img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
}

.annual-music-rest-link {
    margin-top: 36px;
    font-size: 12px;
}

.annual-music-rest-link a {
    color: #555;
    border-bottom: 1px solid #999;
}

.annual-music-rest-link a:hover {
    color: #222;
    text-decoration: none;
    border-bottom-color: #222;
}

.sub-website-link-bar {
    margin-top: 40px;
}

.sub-website-link-bar a {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 40px;
    background-color: #4A90E2;
    border-radius: 20px;
}

.sub-website-link-bar a:hover {
    background-color: #2268BA;
}

.sub-website-link-bar span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

@media (max-width: 992px) {

    .sub-website-link-bar a {
        width: 168px;
    }
}

@media (max-width: 768px) {

    .sub-website-link-bar a {
        width: 148px;
    }

    .sub-website-link-bar span {
        font-size: 13px;
    }
}

@media (max-width: 576px) {

    .annual-music-item-box {
        margin-bottom: 24px;
    }

    .annual-music-rest-link {
        margin-top: 12px;
    }
}