.page-header {
    text-align: center;
}

.page-title {
    font-size: 26px;
    font-weight: 500;
}

.update-time {
    color: #999;
    font-size: 13px;
}

.music-list {
    margin-top: 40px;
    font-family:
            -apple-system,
            BlinkMacSystemFont,
            'Noto Sans',
            'Helvetica Neue',
            'Arial',
            'PingFang SC',
            'Hiragino Sans GB',
            'STHeiti',
            'Microsoft YaHei',
            'SimHei',
            'WenQuanYi Micro Hei',
            sans-serif;
}

.music-list-item {
    margin-top: 16px;
    border-radius: 12px;
    padding: 18px 20px;
    background-color: rgba(216, 216, 216, 0.3);
}

.music-list-item .container {
    padding: 0;
}

.music-cover {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80px;
    border-radius: 6px;
}

.music-title {
    font-size: 18px;
    font-weight: bold;
}

.music-artist {
    margin-top: 4px;
    font-size: 16px;
}

.music-album-year {
    font-size: 14px;
}

.music-artist,
.music-album-year {
    color: #4A4A4A;
}

.music-link {
    margin: 0 4px;
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #9B9B9B;
}

.music-link:hover {
    background-color: #C20C0C;
}

.music-link img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
}

.page-number {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.page-number * {
    margin: 0 5px;
    font-size: 14px;
}

.page-number a {
    color: #555;
}

.page-number a:hover {
    color: #222;
}

.current-page {
    font-weight: bold;
    font-size: 16px;
}

@media (max-width: 1199px) {

    .music-cover {
        margin-left: 0;
    }
}

@media (max-width: 991px) {

    .music-cover {
        width: 74px;
    }

    .music-artist {
        margin-top: 1px;
    }
}

@media (max-width: 767px) {

    .music-cover {
        width: 66px;
    }

    .music-title {
        font-size: 16px;
    }

    .music-artist {
        margin-top: 2px;
        font-size: 14px;
    }

    .music-album-year {
        font-size: 12px;
    }
}

@media (max-width: 575px) {

    .music-list-item {
        text-align: center;
    }

    .music-cover {
        margin-left: auto;
        width: 120px;
    }

    .music-title {
        margin-top: 12px;
        font-size: 18px;
    }

    .music-artist {
        margin-top: 4px;
        font-size: 16px;
    }

    .music-album-year {
        font-size: 14px;
    }

    .music-link {
        margin-top: 12px;
    }
}